<h1>{{title}}</h1>
{{!-- <p>Welcome to {{space}}</p> --}}
<section>
    <p>{{space.spaceName}}</p>
  <article>
    <p>{{ space.spaceName }}</p>
    <p>{{ space.spaceLocation }}</p>
    <p>{{ space.spacePricePerNight }}</p>
    <p>{{ space.spaceNumberOfRooms }}</p>
    <p>{{ space.spaceDescription }}</p>
    <p>{{ space.spacePetFriendly }}</p>
  </article>
</section>
