<h1>{{title}}</h1>
<p>Welcome to {{this.spaceName}}</p>
<section>
    {{spaces}}
  <article>
    <p>{{ this.spaceName }}</p>
    <p>{{ this.spaceLocation }}</p>
    <p>{{ this.spacePricePerNight }}</p>
    <p>{{ this.spaceNumberOfRooms }}</p>
    <p>{{ this.spaceDescription }}</p>
    <p>{{ this.spacePetFriendly }}</p>
  </article>
</section>
